<nav class="navbar navbar-expand-sm navbar-light bg-white">
  <div class="container-fluid">
      <a class="navfar-brand" href="/">
          <img src="/assets/img/odap-logo.svg" alt="Outbreak Data Analysis Platform" width="196" height="56">  
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
              {% for item in site.data.navbar %}
                  <li class="nav-item">
                      <a class="nav-link" href="{{ item.link }}">{{ item.name }}</a>
                  </li>
              {% endfor %} 
          </ul>
      </div>
  </div>
</nav>